/* body{
    overflow-x: hidden; 
   margin: 0; 
   padding: 0;
} */
.header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  

  
  #logo {
    max-width: 100px;
    height: auto;
    margin-right: 380px;
  }
 
  #login-signup-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 5px;
}
.a{
  font-size: 14px;
}

.item1 {
  margin: 0;
  font-size: 14px;
  padding: 0 10px;
  border-right: 1px solid #000;
  border-left:1px solid #000;
  font-family: 'Montserrat', sans-serif; 
}
.item2{
  margin: 0;
  font-size: 14px;
  padding: 0 10px; 
  border-right: 1px solid #000;
  font-family: 'Montserrat', sans-serif; 
}
  
  
#sub-content {
    width: 200px;
    height: 17px;
    font-size: 14px;
    font-weight: normal;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .cont0 {
    display: flex;
    align-items: center;
  }
  
  #cont1 {
    display: flex;
    align-items: center;
    margin-right: 0px;
  }
  
  .cont2p {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    width: 270px;
    height: 30px;
    background-color: #77be43;
    color: #ffffff;
    text-align: center;
    line-height: 30px; 
    margin: auto;
    border: none;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    
}
 
  #item2 {
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .img2 {
    display: flex;
    align-items: center;
  }
  
  #item {
    max-width: 20px;
    height: auto;
    margin-right: 10px;
    
  }
  
  #cont3 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.content1 {
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    margin-top: 50px;
    line-height: 51.2px;

   
}
.p4{
  
    font-size: 32px;
    margin-left: 280px;
   
}


#cont4 {
    color: #77BE43;
    font-weight: bold;
}



.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height:96pxpx;
    width: 880px;
    padding: 15px;

    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
    border: none;
    margin-top: 50px;
    background-color: #f8f8fc; 
    border-radius: 5px;
   
}
#Searchlogo{
    width: 27px;
    height: 27px;
    margin-right: 10px;
    padding-bottom: 5px;
   
  
}
#search{
    height: 30px;
    width: 350px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8fc; 
    margin-top: 6px;


}

#land {
    color: white;
    background: linear-gradient(to right, #77BE43 0%, #4E8D40 100%);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: auto;
}

#map {
    color: white;
    background-color: black;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;  
}
.letsStart{
    border: 1px solid black;
    height: 150px;
    width: 100%;
    border: none;
    font-weight: bold;
    background-color: #f8f8fc; 
    
    
    font-family: 'Montserrat', sans-serif;



}
#start{
    margin-top: 40px;
    margin-left: 250px;
    font-size: 20px;
    line-height: 38.4px;
  
}
#start-btn{
     color: white;
    background: linear-gradient(to right, #77BE43 0%, #4E8D40 100%);
    border: none;
    padding: 5px;
    
   margin-left:160px;
   margin-top: 45px; 
   font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px; 

}
.bestproperties{
    border: 1px solid black;
    height: 550px;
    background-color: white;
    padding: 10px;
    margin-left: 8px;
    text-align: center;
    border: none;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

#RightPlace{
    
    color: #77BE43;
    margin-left: 5px;
    
}
#cont6{
   
    justify-content: center;
    text-align: center;

}
#cont5{
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    font-size: 32px;
}


.below {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    margin: 10px;

}

#btn-below {
  
  display: flex;
  align-items: center;
  margin-right: -5px;
  padding: 10px 20px;
  width: 231.8px;
  height: 84px;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
  background-color: #f8f8fc;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: -20px;
}
 
  


#btn-below:hover {
    background-color: #77BE43; 
}


#cont-Acre {
    margin: 0; 
    align-items: left;
}


#cont-Acre {
    
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  font-size: 14px;
  line-height: 22.4px;


}


#cont-Acre br {
    display: none; 
    margin: 5px 0; 
}
#list{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 320px;
    line-height: 38.4px;
    font-weight: bolder;
}
.letsStart1{
    border: 1px solid black;
    height: 230px;
    width: 100%;
   margin-top: 100px;
    border: none;
    background-color: #f8f8fc; 
    font-family: 'Montserrat', sans-serif;
}
#Happening{
    text-align: center;
    
    justify-content: center;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
 }

 #btn-below1 {
    display: flex; 
    margin-right: -16px;
    padding: 10px 20px;
    align-items: center; 
    height: 70px;
    width: 232px;
    text-align: center;
    border-radius: 8px;
    margin-left: 20px;
  
    
    border: none; 
    background-color: #f8f8fc; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-left: -10px;
}
.submitpage{
    background-color: #F8F8FC;
    padding: 40px;
    height: 310px;
    
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
#sub{
    color:black;
    font-size: 30px;
}
#worry{
    color:#77BE43;
    margin-left: 5px;
}
.small{
    text-align: left;
    margin-left: 280px;
  
}
 
 .submitscreen {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    margin-top: 50px;
    
    background-color: #f8f8fc; 
}

.borderpage {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    background-color: white;
    margin-top: 400px;
}

input[type="text"] {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #f8f8fc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-check-input {
    margin-right: 5px;
}

.form-check-label {
    margin-left: 5px;
}

#search1 {
    height: 40px;
    width: 100%; 
    border: none;
    border-radius: 5px;
    background-color: #F8F8FC;
}
#search2 {
    height: 100px;
    width: 100%; 
    border: none;
    border-radius: 5px;
    background-color: #F8F8FC;
}
#whatsapp123{
    height: 15px;
    width: 15px;
}
#Submit-page{
    width: 80px;
    height: 30px;
    margin-top:20px;
    color: white;
    background: linear-gradient(to right, #77BE43 0%, #4E8D40 100%);
    border: none;
    border-radius: 5px;


}
.borderpage{
  
     height: 350px;
     width:445px;
     border-radius: 8px;
     float: right;
     margin-right: 200px;
     position: absolute;
     margin-top: 0px;
     margin-left: 750px;
}
.services{
    justify-content: center;
    text-align: center;
    margin-right: 100px;
    margin-top: -130px;
    position: absolute;
    margin-left: 100px;
}

.box-services {
    display: flex;
    justify-content: space-between;
   
}

.a {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    width: 170px;
    height: 170px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}

.a img {
    max-width: 100%;
    height: auto;
}

/* ucvusvdsd */
.testimonials {
    border: 1px solid black;
   
    height: 500px;
    width: 100%;
    background-color: #f8f8fc;
    border: none;
    margin-top: 100px;
  }
  #testimon {
    color: #77be43;
    text-align: center;
    padding-top: 50px;
   
    font-size: 14px;
   
  
  }
  #icon1{
    padding: 20px;
    border: 1px solid red;
    margin-left: -40px;
    border-radius: 5px;
    width: 260px;
    height: 248px;
    margin-left: 50px;
    border: none;
    margin-top: 40px;
  }
  #testimon1 {
    font-size: 32px;
    text-align: center;
    margin-left: 450px;
    padding: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 160%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
    margin-top: 260px;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .mySlides {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    padding-bottom: 20px;
    border-radius: 5px;
  }
  #Best {
    font-size: 26px;
    margin-left: 10px;
    font-family: Montserrat, sans-serif;
  }
  .bestland {
    border: 1px solid black;
    
    height: 500px;
    width: 100%;
    margin-left: 10px;
    border: none;
    margin-top: 290px;
    padding: 40px 40px 40px 80px;
    font-family: Montserrat;
  }
  .bestProperty{
    text-align: center;
    margin-top: 700px;
    height: 100px;
    width: 100%;
    font-family: Montserrat, sans-serif;
    border: 1px solid black;
    height: 200px;
    padding: 25px;
    background-color: #f8f8fc; 
    border: none;
  
  }
    
  #searchNow{
    width: 104px;
    height: 30px;
    font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(180deg, #77BE43 0%, #4E8D40 100%);
  border-radius: 5px;
  color: #F8F8FC;
  border: none;


  }
  .names {
    margin-right: 10px;
    margin-left: -10px;
    padding: 10px;
    line-height: 22.4px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }
  
  .nms {
    display: flex;
    margin-left: 10px;
    font-family: Montserrat, sans-serif;

  }
  
  .ekaralu {
    display: flex;
    align-items: center;
    background-color: #131313;
    padding: 20px;
  

  }
  
  #ekaralu {
    width: 140px;
    height: auto;
    margin-left: 20px;
  }
  
  #ready {
    margin: 0 20px;
    font-size: 14px;
    color: white;
    width: 250px;
    margin-left: 750px;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;

  }
  
  
  #GetStart {
    background-color: #ff6666;
    padding: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 140px;
    text-align: center;
    height: 35px;
    margin-top: 20px;
    padding: 10px;
  }
  
  #hr {
    margin: 20px 0;
    width: 1170px;
    margin-left: 40px;
    border: 0.5px solid #888484;
    
  }
  
  .cont {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: -400px;
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
  
  }
  #icons321{
    margin-right: 20px;
    
  }
  
  .contactus {
    padding: 10px;
    margin-top: 20px;
  }
  
  .contactus p {
    margin: 5px 0;
   
  }
  
  #whatsapp {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #4E8D40 0%, #77BE43 100%);
    color: white;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 50px;
  }
  
  #whatsapp:hover {
    background-color: #66a93e;
  }
  
  #icons321 {
    margin-right: 5px;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
 
  .lastcontent {
    color: white;
    display: flex;
  }
   .lastcontent > p {
    font-size: 14px;
    color: white;
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .lastcontent > p1 {
    font-size: 14px;
    color: white;
    display: flex;
    margin-left: 820px;
    padding-top: 20px;
  } 
  .cont {
    display: flex;
    color: white;
    margin-left: 50px;
}

.contactus {
  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: -30px;
}

.contactus p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 21px;

    
}

.contactus img {
    margin-right: 10px;
    width: 20px;
    height: 32px;
}
#whatsapp-icon1{
  height: 20px;
  width: 20px;
  text-align: center;
  margin-left: -90px;
 position: absolute;
 margin-top: -55px;
 font-weight: normal;


 

}
#whatsapp-Content{
  margin-left: 30px;
}


#whatsapp-text{
  font-size: 13px;
  margin-top: -83px;
 padding-top: 20px;
 margin-left: -60px; 
 position: absolute;


 
}
#icon-whatsapp{
  height: 20px;
  width: 20px;
  text-align: center;
  margin-left: 10px;
 position: absolute;
 margin-top: 0px;
 font-weight: normal;
}

#text-content{
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0;
  text-align: left;
 
  margin-top: -30px;


}

  #text-content2 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: -0.5px;
    text-align: left;
    margin-right: 300px;
    color: #77BE43;
  }
  
  #text-content3 {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px; 
    letter-spacing: -0.2px;
    text-align: left;
    margin-left: -1062PX;
    margin-top: 130px;
  }
  
  #quote {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.2px;
    text-align: left;
    margin-right: 440px;
    margin-left: -400px;
    margin-top: 200px;
  }
  




  
